.App {
  text-align: center;
  position: "relative";
  overflow: "hidden"
}

.center{
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  z-index: -100;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;

}
